<% include partials/head %>
    <div class="container-fluid homepageBody">
    	<div class="container">
    		<h1> ICExPro <span> Global network </span></h1>
    	</div>
    </div>
    
<% include partials/footer %>